<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--日志等级，填写数字：(高) OFF【0】 > FATAL【1】 > ERROR【2】 > WARN【3】 > INFO【4】 > DEBUG【5】 (低) -->
    <add key="LogWriteLevel" value="5"/>
    <add key="DataBaseType" value="Oracle"/>
    <!--允许最大同时执行的节点数量（默认为10）-->
    <add key="MaxExecuteNodeCount" value="10"/>
    <!--主键是否是自增长（可能已经使用了数据库自带的自增或者通过触发器实现自增，默认为true）-->
    <add key="KeyFieldIsAutoIncrement" value="true"/>
    <!--主键字段是否使用序列，如果不使用序列，则使用数据库的触发器或者自增长实现主键值的填充-->
    <add key="KeyFieldIsUseSequence" value="false"/>
    <!--
    <add key="ConnString" value="User ID=C##ABPBASE;Password=C##ABPBASE;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));Persist Security Info=True;"/>
    -->
    <add key="ConnString" value="User ID=C##ABPBASE;Password=C##ABPBASE;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=139.196.212.68)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));Persist Security Info=True;"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>